body{
    background-color: black;
    background-image: url(https://br.web.img3.acsta.net/r_1280_720/pictures/17/06/16/12/54/084124.jpg);
    background-size: cover;
}







.btn input{
    
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: 2em;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 3s;
}

.btn input:hover{
    transition: 1s;
    font-size: 3em;
}

@keyframes ds{

0%{
    transform: translateY(10%);
}

100%{
    transform: translateX(-10%);
}

}